.icons {
    height: 25px;
    width: 25px;
    margin: 0 25px 0 25px;
}

.link {
    width: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-align: center;
    color: black;
    cursor: pointer;
}

.content {
    background-color: beige;
}